$white:#fff;
$black:rgba(0,0,0,.5);
$lightblack:rgba(0,0,0,.3);
$darkblack:rgba(0, 0, 0, 0.75);
$blue:#12263a;
$darkblue:#0000FF;
$lightblue:rgb(26, 26, 218);
$red:#FF0000;
$darkred:#ff3300;
$green:#4dbf00;
$commonpadding:8px;
$lightwhite:#f0f0f0;
$orange:rgb(224, 152, 17);
$grey:#666;
$lightgrey:#555;
$percentwidth:100%;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);