@import '../comparetable/variable';
@import '../comparetable/mixin';
table{
    border-collapse: collapse;
    width:100%;
    thead{
        font-weight: map-get($font-weights,bold);
        font-size: 3rem;

        td{
            background: $black;
            color:$white;
            border:none;
            padding:6px 0;
        }
    }
    td{
        border:1px solid $grey;
        text-align: center;

       
        &:nth-child(1){
            
            @include commonwidth(200px,2.5rem);
        }
        &:nth-child(2){
           
            @include commonwidth(200px,2.5rem);
        }
        &:nth-child(3){
           
            @include commonwidth(200px,2.5rem);
        }
        &:nth-child(4){
            
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(5){
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(6){
        
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(7){
           
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(8){
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(9){
           
            @include commonwidth(170px,2.5rem);
        }
        &:nth-child(10){
            @include commonwidth(170px,2.5rem);
        }

    }
  tbody{
      img{
         width:100px;
         height:80px;
         object-fit: cover;      
         padding-top:1rem;   
      }
  }   
}