$blue:#12263a;
$white: #fff;
$lightblue:#256eff;
$light:rgb(173, 216, 230);
$grey:rgb(128, 128, 128);
$darkblue:#12360c;
$red:#FF0000;
$font-weights:(
    "small":200,
    "mediumsmall":300,
    "regular":400,
    "medium":500,
    "extramedium":600,
    "bold":700,
    "large":900
)